<!DOCTYPE html>
<html lang="ko" style="align-items: center">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="https://github.com/ChoHyunGook/pubpic/blob/main/new_blaubit.png?raw=true">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blaubit Version Management(Update Success)</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div style="text-align: center">
    <br />
    <br />
    <img src="https://github.com/ChoHyunGook/pubpic/blob/main/new_blaubit.png?raw=true"
         width="350" height="120">
    <br />
    <h1>관리자 전용 페이지</h1>
    <br />
    <div class="outset">
        <h1>접근 불가</h1>
    </div>
    <br/>

</div>
</body>
</html>