<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>퇴그은...</title>
</head>
<body>
<img src="https://github.com/ChoHyunGook/pubpic/blob/main/jam.png?raw=true"
     width="251" height="201"><br/>
<img src="https://github.com/ChoHyunGook/pubpic/blob/main/business_gs25_img01.jpg?raw=true">
<h1>25시이상은 GS25시만 허용가능</h1>

<h2><%= h %></h2>
<h2><%= nowTime %></h2>
</body>
</html>