<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>퇴그은...</title>
</head>
<body>
<img src="https://private-user-images.githubusercontent.com/97998332/250495298-d848616e-7ab4-48bc-9543-4c15952f2a5b.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJrZXkiOiJrZXkxIiwiZXhwIjoxNjg4MzcxNTcyLCJuYmYiOjE2ODgzNzEyNzIsInBhdGgiOiIvOTc5OTgzMzIvMjUwNDk1Mjk4LWQ4NDg2MTZlLTdhYjQtNDhiYy05NTQzLTRjMTU5NTJmMmE1Yi5wbmc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBSVdOSllBWDRDU1ZFSDUzQSUyRjIwMjMwNzAzJTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDIzMDcwM1QwODAxMTJaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT1hNmFjNTliYWNjYjlmN2UwZmU5NDIyMDdhOTUzY2M5MzUwMWE3M2ZjNmY5ZDQzMDRhMzA4NmUzYmZjZGExMTlmJlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCZhY3Rvcl9pZD0wJmtleV9pZD0wJnJlcG9faWQ9MCJ9.KEqJmGKLXXtwgwAiFJKHBPvxiKJhkBd_K-h6NozgnRQ"
     width="251" height="201">
<h1>분 똑바로 적어유!! 60분 이상이다!!</h1>
<h2><%= nowTime %></h2>
</body>
</html>