<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>퇴그은...</title>
</head>
<body>
<img src="https://github.com/ChoHyunGook/pubpic/blob/main/jam.png?raw=true"
     width="251" height="201">
<h1>출근하기 싫타아아아아아ㅜㅜㅜㅜㅜ</h1>
<h2><%= startTime %></h2>
<h2><%= quitTime %></h2>
<h2><%= nowTime %></h2>
</body>
</html>